In [7]:
def get_employee(n: int) -> dict:
    emp_num = 0
    employees = dict()

    while emp_num < n:
        try:
            emp_code = input("Enter id: ")
            name = input("Enter name: ")

            salary = input("Enter salary: ")
            try:
                salary = float(salary)
            except ValueError:
                raise ValueError("Salary must be a number")
            
            if salary < 0:
                raise ValueError("Salary must be a positive number")
            
            emp_num += 1
            employees[emp_code] = [name, salary]
        except ValueError as e:
            print(e)
            continue
    
    return employees

def sort_employee(e: dict) -> list:
    return sorted(e.items(), key=lambda x: x[1][1], reverse=True)

In [8]:
employee_dict = {
    "SE001": ["John", 5000],
    "SE002": ["Jane", 6000],
    "SE003": ["Tom", 4000],
    "SE004": ["Alice", 3000],
    "SE005": ["Bob", 7000],
    "SE006": ["Mary", 8000],
    "SE007": ["David", 9000],
    "SE008": ["Eva", 10000],
    "SE009": ["Frank", 11000],
    "SE010": ["Grace", 12000]
}

In [9]:
sorted_employees =  sort_employee(employee_dict)

In [10]:
sorted_employees

[('SE010', ['Grace', 12000]),
 ('SE009', ['Frank', 11000]),
 ('SE008', ['Eva', 10000]),
 ('SE007', ['David', 9000]),
 ('SE006', ['Mary', 8000]),
 ('SE005', ['Bob', 7000]),
 ('SE002', ['Jane', 6000]),
 ('SE001', ['John', 5000]),
 ('SE003', ['Tom', 4000]),
 ('SE004', ['Alice', 3000])]

In [11]:
for _ in sorted_employees:
    print(f"Employee: {_[0]}, Salary: {_[1][1]}, Name: {_[1][0]}")

Employee: SE010, Salary: 12000, Name: Grace
Employee: SE009, Salary: 11000, Name: Frank
Employee: SE008, Salary: 10000, Name: Eva
Employee: SE007, Salary: 9000, Name: David
Employee: SE006, Salary: 8000, Name: Mary
Employee: SE005, Salary: 7000, Name: Bob
Employee: SE002, Salary: 6000, Name: Jane
Employee: SE001, Salary: 5000, Name: John
Employee: SE003, Salary: 4000, Name: Tom
Employee: SE004, Salary: 3000, Name: Alice

In [12]:
employee_dict

{'SE001': ['John', 5000],
 'SE002': ['Jane', 6000],
 'SE003': ['Tom', 4000],
 'SE004': ['Alice', 3000],
 'SE005': ['Bob', 7000],
 'SE006': ['Mary', 8000],
 'SE007': ['David', 9000],
 'SE008': ['Eva', 10000],
 'SE009': ['Frank', 11000],
 'SE010': ['Grace', 12000]}