In [1]:
def get_employee(n: int) -> dict:
    emp_num = 0
    employees = dict()

    while emp_num < n:
        try:
            emp_code = input("Enter id: ")
            name = input("Enter name: ")

            salary = input("Enter salary: ")
            try:
                salary = float(salary)
            except ValueError:
                raise ValueError("Salary must be a number")
            
            if salary < 0:
                raise ValueError("Salary must be a positive number")
            
            emp_num += 1
            employees[emp_code] = [name, salary]
        except ValueError as e:
            print(e)
            continue
    
    return employees

def sort_employee(e: dict) -> list:
    return sorted(e.items(), key=lambda x: x[1][1], reverse=True)

In [2]:
num_employees = 3

In [3]:
employees = get_employee(num_employees)

In [4]:
employees

{'01': ['Albert', 10.0], '02': ['Emmy', 7.0], '03': ['Kevin', 8.0]}

In [5]:
sorted_employees = sort_employee(employees)

In [7]:
sorted_employees

[('01', ['Albert', 10.0]), ('03', ['Kevin', 8.0]), ('02', ['Emmy', 7.0])]

In [9]:
for _ in sorted_employees:
    print(f"Employee: {_[0]}, Salary: {_[1][1]}, Name: {_[1][0]}")

Employee: 01, Salary: 10.0, Name: Albert
Employee: 03, Salary: 8.0, Name: Kevin
Employee: 02, Salary: 7.0, Name: Emmy